@import "../../styles/config";

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white-color;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border: solid 0 $gray-color;
  box-shadow: 1px 2px 3px lighten($gray-color, 0.9%);
  border-bottom-width: 1px;
  z-index: 100;
  img {
    width: 160px;
  }
  li,
  .language-switcher {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    padding: 10px 20px;
  }
  a {
    color: $primary-color;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    &:hover {
      text-decoration-style: solid;
      text-decoration-thickness: auto;
      transition-behavior: normal;
      transition-delay: 0s;
      transition-duration: 0.23s;
      transition-property: all;
      transition-timing-function: ease;
      color: $brown-color;
      cursor: pointer;
    }
  }
}
